.container-img-treino{
    width: 100% !important;
    height: 200px;
}
.container-img-treino img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

._container-finalizacao-treino{
    border-top: 1px solid #ccccccbe;
}

@media(min-width:1500px){
    .container-img-treino{
        width: 95%;
        height: 280px;
    }

    ._container-finalizacao-treino{
        border-top: none;
    }
}